*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #edf1fd;
    overflow-x: hidden;
}
.nav{
    width: 100%;
    height: 80px;
    /* background-color: #eef0f2; */
    background-color: transparent;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    /* position: absolute; */
    /* left: 40px; */
    margin-left: 50px;
    width: 60px;
    height: 60px;
}
.nav ul{
    width: 400px;
    height: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: midnightblue;
    font-weight: bold;
    font-size: 20px;
}
.nav button{
    margin-right: 50px;
    border: none;
    background: #6450cc;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.intro{
    width: 100%;
    height: 600px;
    /* background-color:thistle; */
    display: flex;
}
.hello{
    width: 50%;
    height: 100%;
    /* background-color: tomato; */
}
.introImg{
    width: 50%;
    height: 100%;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.introImg img{
    height: 90%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.skills{
    width: 100%;
    height: 500px;
    /* background-color: springgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills > p{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    /* background-color: yellow; */
}
.skillset{
    width: 60%;
    height: 400px;
    /* background-color: wheat; */
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill{
    width: 250px;
    height: 200px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    border-radius: 50%;
    border-radius: 150px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  2px 2px 5px #5a5a5a,
                 -4px 0px 5px #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.skill p{
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
    /* font-size: 20px; */
}
.skill button{
    padding: 10px 20px;
    background-color: #6450cc;
    border-radius: 5px;
}
.skill button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}